.header {
  border-bottom: 1px solid var(--cinza);
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 1rem
}

.headerError {
  border-bottom: 1px solid var(--cinza);
  display: flex;
  filter: blur(4px);
  justify-content: space-between;
  height: 100px;
  padding: 0 1rem
}

.dateContainer ,.titleContainer, .profileContainer  {
  align-items: center;
  display: flex;
  width: 30%;
}

.date {
  font-weight: 700;
}

.titleContainer {
  justify-content: center;
}

.profileContainer {
  justify-content: end;
}


.title {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.link {
  color:var(--preto);
  text-align: center;
  width: 15%;
}

.img {
  height: 80%;
  width: 80%;
}

@media (max-width: 790px) {
  .header {
    flex-wrap: wrap;
    height: auto;
    margin-top: 0.3rem;
  }

  .headerError {
    flex-wrap: wrap;
    height: auto;
    margin-top: 0.3rem;
  }

  .titleContainer {
    justify-content: center;
    order: 1;
    width: 100%;
  }

  .profileContainer {
    order: 3;
    padding-right: 1rem;
    width: 50%;
  }

  .link {
    margin-bottom: 0.5rem;
    width: 30%;
  }

  .dateContainer {
    order: 2;
    width: 50%;
  }
}