.footer {
  align-items: center;
  display: flex;
  border-top: 3px double var(--preto);
  height: 80px;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 100%;
}

.footerError {
  align-items: center;
  display: flex;
  filter: blur(4px);
  border-top: 3px double var(--preto);
  height: 80px;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 100%;
}

.button {
  border: 1px solid var(--cinza);
  border-radius: 0.2rem;
  cursor: pointer;
  height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 20%;
}

.button:active {
  background-color: var(--branco); 
  }

.link {
  color: var(--preto);
  text-decoration: underline var(--cinza)
}

@media (max-width : 790px ) {
  .button {
    font-size: 0.7rem;
    width: 40%;
  }

  .link {
    font-size: 0.9rem;
  }
}