.nav {
  align-items: center;
  border-bottom: 4px double var(--preto);
  display: flex;
  height: 3rem;
  justify-content: space-around;
  width: 100%;
}

.label,.labelcheck {
  border-bottom: 1px solid var(--cinza);
  cursor: pointer;
}
.labelcheck {
  font-weight: 700;
  border-bottom: 2px solid var(--cinza);
}

.input {
  display: none;
}

.link {
  border-bottom: 1px solid var(--cinza);
  color: var(--preto);
  text-decoration: none;
}