.card {
  border-bottom: 1px solid var(--cinza);
  border-right: 1px solid var(--cinza);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem 0 3rem 0;
  width: 80%;
}

.cardSmall {
  align-items: center;
  border-bottom: 1px solid var(--cinza);
  border-right: 1px solid var(--cinza);
  border-left: 1px solid var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0 3rem 0;
  width: 50%;
}

.article {
  width: 40%;
}

.articleSmalls {
  width: 90% ;
}

.title {
  margin: 1rem 0 2rem 0 ;
  text-align: center;
  width: 100%;
}

.titleSmalls {
  margin: 1rem 0 2rem 0 ;
  text-align: left;
  font-size: 1.2rem;
}

.introdution {
  width: 100%;
}

.introdutionSmalls {
  width: 90%;
  margin-bottom: 2rem;
}

.imageContainer {
  width: 50%;
}

.imageContainerSmall {
  width: 40%;
}

.image {
  border-radius: 0.3rem;
  width: 100%;
}

.newInfoContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 80%;
}

.newInfoContainerSmalls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 90%;
}

.buttonfavorite{
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  width: 3%;
}

.imageFavorite {
width: 100%;
}

.link {
  border-bottom: 1px solid var(--cinza);
  color: var(--preto);
  text-decoration: none;
}

@media (max-width: 1500px) {
  .cardSmall {
    align-items: normal;
    border-left: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
  }
  .articleSmalls {
    width: 40% ;
  }
  .titleSmalls {
    text-align: center;
    font-size: 1.5rem;
  }

  .introdutionSmalls {
    width: 100%;
    margin-bottom: 0;
  }

  .imageContainerSmall {
    width: 50%;
  }

  .newInfoContainerSmalls {
    height: 5rem;
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .cardSmall,.card {
    align-items: center;
    border-left: none;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
  }
  .articleSmalls,.article {
    width: 80%;
    margin-bottom: 2rem;
  }
  .titleSmalls,.title {
    text-align: left;
    font-size: 1.5rem;
  }

  .introdutionSmalls,.introdution {
    width: 100%;
    text-align: left;
  }

  .imageContainerSmall.imageContainer {
    width: 60%;
  }

  .newInfoContainerSmalls,.newInfoContainer {
    align-items: baseline;
    height: 7rem;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }
}

@media (max-width: 790px) {

}

