:root {

  --branco: #fefefe;
  --cinza: #959595;
  --preto: #121212;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Roboto', sans-serif;
}